body {
    font-family: Nunito Sans;
    font-size: 16px;
    height: 50%;
    margin: 0;
}

html {
    height: 100%;
    margin: 0;
}


.bg {
    /* The image used */
    background-image: url("../images/img9.jpeg");

    /* Full height */
    height: 100%;

    /* Center and scale the image nicely */
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.headline {
    color: #ffffff;
    font-family: Raleway;
    font-weight: 200;
    font-size: 3rem;
    font-style: italic;
    margin: 0;
    text-align: center;
    padding-top: 20px;
}

.gallery-button {
    display: inline-block;
    color: #000000;
}

.map-container-9,
.map-container-10,
.map-container-11 {
    overflow: hidden;
    padding-bottom: 56.25%;
    position: relative;
    height: 0;
}

.map-container-9 iframe .map-container-10 iframe .map-container-11 iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}

footer{
    background-color: rgb(107, 183, 245);
    color: rgb(248, 249, 250);
    padding-top: 10px;
    padding-bottom: 10px;
    margin: 0;
}

footer svg{
    fill: #f10861;
    width: 1.8rem;
    opacity: 1;
}
footer a {
    text-decoration: none;
}

@media (min-width: 700px){
    .headline {
        color: #f10861;
        font-family: Raleway;
        font-weight: 200;
        font-size: 5rem;
        font-style: italic;
        margin: 0;
        text-align: center;
        padding-top: 20px;
    }
}
